In [2]:
import pandas as pd 
df = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
df_target = df['SUBCLASS']

data = df.drop(columns=['ID', 'SUBCLASS'])
df_test.drop(columns=['ID'], inplace=True)
data

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,R895R,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6197,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6198,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,T181S,WT
6199,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6200,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [3]:
df_test

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,R587Q,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,I383Sfs,WT,WT,WT,WT
2,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2542,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2543,WT,WT,WT,WT,WT,L217I,P221P P251P,R5M,G606D,I248Nfs,...,S2049Vfs S1909Vfs,L232R,WT,WT,L305L,WT,N252I N251I,G679V,WT,WT
2544,WT,WT,WT,WT,WT,WT,WT,WT,R1517H,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2545,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [4]:
total = pd.concat([data, df_test])
total

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2,R895R,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2542,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2543,WT,WT,WT,WT,WT,L217I,P221P P251P,R5M,G606D,I248Nfs,...,S2049Vfs S1909Vfs,L232R,WT,WT,L305L,WT,N252I N251I,G679V,WT,WT
2544,WT,WT,WT,WT,WT,WT,WT,WT,R1517H,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2545,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [49]:
for c in total.columns:
    if total[c].value_counts()['WT'] == len(total):
        print(c)
        total.drop(columns=[c] , inplace=True)
total.columns

BOLA2
CROCCP2
EEIG1
G6PC1
GPX4
H2AC25
HBBP1
HYCC2
MIX23
MYL11
NHERF1
NHERF4
PALS1
PHB1
PTTG3P
PVT1
RIGI
SELENOP
SELENOW
SKIC3
XIST

Index(['A2M', 'AAAS', 'AADAT', 'AARS1', 'ABAT', 'ABCA1', 'ABCA2', 'ABCA3',
       'ABCA4', 'ABCA5',
       ...
       'ZNF292', 'ZNF365', 'ZNF639', 'ZNF707', 'ZNFX1', 'ZNRF4', 'ZPBP',
       'ZW10', 'ZWINT', 'ZYX'],
      dtype='object', length=4363)

In [23]:
diseaseList = df.SUBCLASS.value_counts().rename_axis('disease').reset_index(name='counts')
diseaseList

   disease  counts
0     BRCA     786
1    KIPAN     515
2   GBMLGG     461
3     STES     379
4     KIRC     334
5     THCA     324
6     SKCM     276
7     PRAD     266
8       OV     253
9      LGG     229
10    HNSC     223
11    COAD     223
12    UCEC     198
13    SARC     198
14    LUAD     184
15    LUSC     178
16    LIHC     158
17    LAML     158
18    CESC     155
19    PCPG     147
20    TGCT     124
21    PAAD     120
22    BLCA     104
23    THYM      98
24     ACC      72
25    DLBC      38

In [51]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for c in total.columns:
    total[c] = encoder.fit_transform(total[c])

In [52]:
df = total[:6201]
df_test = total[6201:]

In [53]:
df

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
1,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2,181,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
3,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
4,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6197,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6198,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,59,78
6199,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
6200,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78

In [54]:
df_test

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
1,234,72,47,31,74,177,252,229,310,173,...,275,109,56,45,188,48,85,88,65,78
2,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
3,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
4,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2542,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2543,234,72,47,31,74,113,151,176,99,66,...,230,52,56,45,79,121,40,24,65,78
2544,234,72,47,31,74,232,252,229,212,173,...,275,109,56,45,188,121,85,88,65,78
2545,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78

In [55]:
from sklearn.ensemble import RandomForestClassifier
X = df
y = df_target
y

0        KIPAN
1         SARC
2         SKCM
3         KIRC
4       GBMLGG
         ...
6196      LUAD
6197       LGG
6198      COAD
6199      TGCT
6200      SKCM
Name: SUBCLASS, Length: 6201, dtype: object

In [56]:
model = RandomForestClassifier(
            n_estimators=50, ## 붓스트랩 샘플 개수 또는 base_estimator 개수
            criterion='entropy', ## 불순도 측도
            max_depth=5, ## 개별 나무의 최대 깊이
            max_features='sqrt', ## 매 분리시 랜덤으로 뽑을 변수 개수
            max_samples=1.0, ## 붓스트랩 샘플 비율 => 1이면 학습데이터를 모두 샘플링한다.
            bootstrap=True, ## 복원 추출,  False이면 비복원 추출
            oob_score=True, ## Out-of-bag 데이터를 이용한 성능 계산
            random_state=100
).fit(X,y)

In [57]:
## 예측
print(model.predict(X)[:3]) 
print()

['BRCA' 'BRCA' 'SKCM']

In [58]:
X[:3]

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
1,234,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78
2,181,72,47,31,74,232,252,229,310,173,...,275,109,56,45,188,121,85,88,65,78

In [24]:
## 성능 평가
print(model.oob_score_) ## Out-of-bag 성능 평가 점수
print('정확도 : ', model.score(X,y)) ## 테스트 성능 평가 점수(Accuracy)
print()
## 변수 중요도
print(model.feature_importances_)

0.19900016126431222
정확도 :  0.2273826802128689

[4.67609586e-04 0.00000000e+00 0.00000000e+00 ... 8.84358860e-05
 0.00000000e+00 0.00000000e+00]

In [59]:
## 성능 평가
print(model.oob_score_) ## Out-of-bag 성능 평가 점수
print('정확도 : ', model.score(X,y)) ## 테스트 성능 평가 점수(Accuracy)
print()
## 변수 중요도
print(model.feature_importances_)

0.1952910820835349
정확도 :  0.21077245605547493

[0.00000000e+00 0.00000000e+00 0.00000000e+00 ... 1.76798734e-05
 4.09059914e-05 2.72949097e-05]

In [25]:
res = model.predict(df_test)
res

array(['BRCA', 'SKCM', 'BRCA', ..., 'STES', 'BRCA', 'GBMLGG'],
      dtype=object)

In [60]:
res = model.predict(df_test)
res

array(['BRCA', 'UCEC', 'BRCA', ..., 'UCEC', 'BRCA', 'GBMLGG'],
      dtype=object)

In [62]:
df_test1 = pd.read_csv('test.csv')
res_df = pd.DataFrame ({'ID' : df_test1['ID'], 'SUBCLASS' : res})
res_df

             ID SUBCLASS
0     TEST_0000     BRCA
1     TEST_0001     UCEC
2     TEST_0002     BRCA
3     TEST_0003   GBMLGG
4     TEST_0004     STES
...         ...      ...
2541  TEST_2541     STES
2542  TEST_2542     BRCA
2543  TEST_2543     UCEC
2544  TEST_2544     BRCA
2545  TEST_2545   GBMLGG

[2546 rows x 2 columns]

In [63]:
res_df.to_csv('res03.csv',index = False)

In [ ]:
df[df.SUBCLASS == 'BRCA'].sum().sort_values(ascending=False).str.replace('WT','')

In [ ]:
df[df['SUBCLASS']=='DLBC']

In [ ]:
import numpy as np 
dfs = df[df['SUBCLASS']=='DLBC']
dfs.columns

In [ ]:
for c in dfs.columns:
    dfs[c] = np.where(dfs[c] == 'WT', 0, 1)
dfs

In [ ]:
dfs = df[df['SUBCLASS']=='DLBC']
dfs.apply(lambda x: x(if x=='WT' else x=1))

In [ ]:
genes = []
for disease in df["SUBCLASS"].unique():
    disease_df = df[df["SUBCLASS"] == disease]

    non_wt_counts = (disease_df != 'WT').sum()  # "WT"가 아닌 행 개수
    non_wt_counts_sorted = non_wt_counts.sort_values(ascending=False) #빈도 수가 높은 순서대로 정렬

    n = 10 # 추출한 상위 유전자 개수
    genes.extend(list(non_wt_counts_sorted[2:2+n].index))

    print(f'{disease} - 전체 행의 개수 : {len(disease_df)}')
    print(non_wt_counts_sorted[2:10])
    print()

In [ ]:
for  x in df.iloc[0]:
    if x != 'WT': print(x)

In [ ]:
len(df_test.columns)

In [ ]:
len(df_test)

In [ ]:
df.colu