In [1]:
import numpy as np

# 예시: 0과 1로 구성된 5개의 컬럼을 가진 10개의 데이터
data = np.array([
    [0, 1, 0, 1, 0],
    [1, 0, 1, 1, 0],
    [0, 1, 1, 0, 0],
    [1, 1, 0, 1, 1],
    [0, 0, 1, 0, 1],
    [1, 1, 1, 1, 0],
    [0, 1, 0, 0, 1],
    [1, 1, 1, 1, 1],
    [0, 0, 0, 1, 0],
    [1, 0, 1, 0, 1]
])

# 데이터 출력
print("데이터:\n", data)

데이터:
 [[0 1 0 1 0]
 [1 0 1 1 0]
 [0 1 1 0 0]
 [1 1 0 1 1]
 [0 0 1 0 1]
 [1 1 1 1 0]
 [0 1 0 0 1]
 [1 1 1 1 1]
 [0 0 0 1 0]
 [1 0 1 0 1]]

In [2]:
# 예: 첫 번째 컬럼 (0번 인덱스)와 두 번째 컬럼 (1번 인덱스) 값이 모두 1인지 확인
column1 = data[:, 0]  # 첫 번째 컬럼
column2 = data[:, 1]  # 두 번째 컬럼

# 두 컬럼 값이 모두 1인 행을 찾음
rows_with_both_ones = np.where((column1 == 1) & (column2 == 1))

# 결과 출력
print("두 컬럼 값이 모두 1인 행의 인덱스:", rows_with_both_ones[0])

두 컬럼 값이 모두 1인 행의 인덱스: [3 5 7]

In [3]:
import numpy as np

# 예시 데이터 (5개의 컬럼을 가진 10개의 행)
data = np.array([
    [0, 1, 0, 1, 0],
    [1, 0, 1, 1, 0],
    [0, 1, 1, 0, 0],
    [1, 1, 0, 1, 1],
    [0, 0, 1, 0, 1],
    [1, 1, 1, 1, 0],
    [0, 1, 0, 0, 1],
    [1, 1, 1, 1, 1],
    [0, 0, 0, 1, 0],
    [1, 0, 1, 0, 1]
])

# 선택할 n개의 컬럼 (여기서는 0번, 1번, 3번 컬럼을 예로 듬)
n_columns = [0, 1, 3]

# n개의 컬럼 값이 모두 1인 행을 찾음
rows_with_all_ones = np.where(np.all(data[:, n_columns] == 1, axis=1))

# 결과 출력
print("n개의 컬럼 값이 모두 1인 행의 인덱스:", rows_with_all_ones[0])

n개의 컬럼 값이 모두 1인 행의 인덱스: [3 5 7]

In [37]:
import numpy as np

# 예시 데이터 (5개의 컬럼을 가진 10개의 행)
data = np.array([
    [0, 1, 0, 1, 0],
    [1, 0, 1, 1, 0],
    [0, 1, 1, 0, 0],
    [1, 1, 0, 1, 1],
    [0, 0, 1, 0, 1],
    [1, 1, 1, 1, 0],
    [0, 1, 0, 0, 1],
    [1, 1, 1, 1, 1],
    [0, 0, 0, 1, 0],
    [1, 0, 1, 0, 1]
])

# 선택할 n개의 컬럼 (여기서는 0번, 1번, 3번 컬럼을 예로 듬)
n_columns = [0, 1, 3]

# n개의 컬럼 값이 모두 1인 행을 찾음
#rows_with_all_ones = np.where(np.all(data[:, n_columns] == 1, axis=1))
rows_with_all_ones = np.where(np.all(data == 1, axis=1))

# 결과 출력
print("n개의 컬럼 값이 모두 1인 행의 인덱스:", rows_with_all_ones[0])

n개의 컬럼 값이 모두 1인 행의 인덱스: [7]

In [5]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# 예시 DataFrame
data = {
    'A': [0, 1, 0, 1, 0, 1, 0, 1, 0, 1],
    'B': [1, 0, 1, 1, 0, 1, 1, 1, 0, 0],
    'C': [1, 0, 0, 0, 0, 1, 1, 1, 0, 0]
}
df = pd.DataFrame(data)

In [6]:
# C 배열을 Numpy 배열로 변환
c_array = df['C'].values.reshape(1, -1)

# A와 B 배열을 Numpy 배열로 변환
a_array = df['A'].values.reshape(1, -1)
b_array = df['B'].values.reshape(1, -1)

# 코사인 유사도 계산
similarity_a = cosine_similarity(c_array, a_array)[0][0]
similarity_b = cosine_similarity(c_array, b_array)[0][0]

# 결과 출력
print(f"C와 A의 코사인 유사도: {similarity_a:.4f}")
print(f"C와 B의 코사인 유사도: {similarity_b:.4f}")

# 더 유사한 컬럼 확인
if similarity_a > similarity_b:
    print("C는 A와 더 비슷합니다.")
elif similarity_b > similarity_a:
    print("C는 B와 더 비슷합니다.")
else:
    print("C와 A, B는 유사도가 같습니다.")

C와 A의 코사인 유사도: 0.4472
C와 B의 코사인 유사도: 0.8165
C는 B와 더 비슷합니다.

In [25]:
import pandas as pd

df = pd.read_csv('train.csv')
#df = df [ df['SUBCLASS'].isin(['DLBC'] )]
df_test = pd.read_csv('test.csv')


data = df.drop(columns=['ID', 'SUBCLASS'])
df_test.drop(columns=['ID'], inplace=True)
df_target = df['SUBCLASS']

In [26]:
total = pd.concat([data, df_test])
f = lambda x : 0 if x == 'WT' else 1
total = total.map(f)

In [27]:
data = total[:6201]

nRows = df.shape[0]
X = total[:nRows]
df_test = total[nRows:]

In [31]:
data

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6196,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6197,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6198,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6199,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6200,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
df_test

,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,ABCA5,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2542,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2543,0,0,0,0,0,1,1,1,1,1,...,1,1,0,0,1,0,1,1,0,0
2544,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2545,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
import numpy as np
# 선택할 n개의 컬럼 (예: A, B, D)
n_columns = ['ABCA1', 'ABCA2' , 'ABCA3', 'ABCA4', 'ABCA5']
q = ['DDX10', 'ELOVL5']

# n개의 컬럼 값이 모두 1인 행을 찾음
rows_with_all_ones = data[data[q].eq(1).all(axis=1)]
print(rows_with_all_ones)

      A2M  AAAS  AADAT  AARS1  ABAT  ABCA1  ABCA2  ABCA3  ABCA4  ABCA5  ...  \
1202    1     0      0      0     0      0      0      0      1      1  ...
4656    0     1      0      0     0      0      0      0      0      0  ...
4984    0     1      0      0     0      0      1      1      1      1  ...
5049    1     0      0      0     1      1      1      1      1      1  ...

      ZNF292  ZNF365  ZNF639  ZNF707  ZNFX1  ZNRF4  ZPBP  ZW10  ZWINT  ZYX
1202       1       0       1       0      1      0     1     0      0    1
4656       1       0       0       0      1      0     0     0      0    0
4984       1       1       1       0      1      0     0     0      0    1
5049       1       1       0       1      1      0     0     1      0    0

[4 rows x 4384 columns]

In [ ]:
rows_with_all_ones = data[data[q].eq(1).all(axis=1)]

In [41]:
data[(data == 1).all(axis=1)]

array([[1, 1, 1, 1, 1]])

In [42]:
data

array([[0, 1, 0, 1, 0],
       [1, 0, 1, 1, 0],
       [0, 1, 1, 0, 0],
       [1, 1, 0, 1, 1],
       [0, 0, 1, 0, 1],
       [1, 1, 1, 1, 0],
       [0, 1, 0, 0, 1],
       [1, 1, 1, 1, 1],
       [0, 0, 0, 1, 0],
       [1, 0, 1, 0, 1]])

In [44]:
import pandas as pd

# 예시 DataFrame 생성
data = {'A': [0, 1, 0, 1], 'B': [0, 0, 1, 0], 'C': [1, 1, 0, 0]}
df = pd.DataFrame(data)

# 1이 1개 이상 있는 행 필터링 (이 경우 1이 여러 개일 수도 있음)
one_2_rows = df[df.sum(axis=1) >= 1]

# 각 행에서 1이 위치한 열의 이름을 모두 나열하는 코드
result = [(index, row[row == 1].index.tolist()) for index, row in one_2_rows.iterrows()]

# 출력
print(result)

[(0, ['C']), (1, ['A', 'C']), (2, ['B']), (3, ['A'])]

In [45]:
qSet=['A','C']
# qSet에 해당하는 컬럼들만 값이 1인 행을 반환
df[(df[qSet].eq(1).all(axis=1)) & (df.drop(columns=qSet).eq(0).all(axis=1))]

   A  B  C
1  1  0  1

In [46]:
import pandas as pd

# 예시 DataFrame
df = pd.DataFrame({
    'a': [0, 0, 1, 0],
    'b': [0, 0, 0, 0],
    'q': [1, 0, 1, 1]
})

# 'q' 컬럼이 1이고 다른 모든 컬럼이 0인 행만 선택
filtered_df = df[(df['q'] == 1) & (df.drop(columns='q') == 0).all(axis=1)]

print(filtered_df)

   a  b  q
0  0  0  1
3  0  0  1

In [ ]:

# DataFrame A에서 1, 2번째 열만 선택
A_selected = df_test.iloc[:, [0, 1]]  # 0, 1 인덱스는 첫 번째와 두 번째 열

# DataFrame A_selected와 B 합성 (열 기준 합성)
result = pd.concat([A_selected, rdf], axis=1)
result