In [87]:
tar = [15,20,21,25,28,31,34,38,39,48,52,65,68,76
,84,96,98,99,105,107,108,109,114,129,157,158,171,172
,197,210,216,230,240,248,258,268,280,290,292,299,300,304
,308,309,312,313,317,330,346,348,349,353,354,356,362,364
,368,385,400,403,414,419,421,423,425,426,427,429,434,436
,453,457,460,464,465,466,468,470,487,488,502,509,510,514
,526,527,530,531,532,543,554,555,567,569,570,575,580,581
,584,587,591,596,597,601,606,615,620,624,628,629,630,631
,633,634,640,651,653,658,663,665,667,671,675,678,682,685
,688,697,704,717,725,734,744,747,751,753,756,760,764,766
,768,773,774,775,777,778,779,792,795,797,799,801,807,808
,816,818,829,839,847,859,861,862,863,867,870,874,882,888
,892,908,916,918,919,928,933,937,939,946,948,949,959,963
,966,969,973,977,980,983,984,1000,1005,1010,1020,1027,1040,1041
,1043,1050,1051,1052,1054,1062,1068,1070,1079,1080,1087,1094,1097,1103
,1108,1109,1119,1124,1132,1133,1142,1148,1151,1153,1156,1161,1164,1166
,1173,1178,1181,1187,1195,1198,1203,1206,1210,1212,1223,1224,1245,1247
,1253,1274,1277,1280,1288,1289,1291,1298,1316,1317,1324,1339,1343,1345
,1349,1351,1356,1357,1368,1373,1389,1393,1407,1409,1417,1427,1431,1439
,1446,1448,1450,1451,1455,1458,1463,1481,1491,1493,1495,1498,1505,1510
,1522,1525,1529,1530,1537,1546,1547,1548,1550,1553,1570,1576,1582,1589
,1591,1593,1605,1607,1608,1619,1629,1636,1637,1643,1652,1672,1688,1689
,1691,1699,1705,1719,1720,1721,1726,1739,1746,1765,1771,1782,1787,1792
,1796,1800,1803,1814,1823,1837,1842,1848,1852,1870,1877,1878,1887,1888
,1897,1907,1916,1917,1923,1928,1938,1944,1956,1964,1966,1967,1991,1996
,2011,2019,2020,2021,2025,2026,2034,2036,2053,2054,2057,2067,2070,2075
,2076,2077,2078,2094,2103,2105,2108,2110,2123,2133,2138,2145,2148,2151
,2154,2160,2172,2180,2194,2195,2209,2228,2231,2237,2259,2266,2269,2272
,2283,2285,2289,2290,2303,2304,2305,2316,2318,2321,2323,2329,2330,2331
,2339,2345,2349,2354,2360,2361,2366,2376,2380,2387,2388,2391,2413,2415
,2416,2417,2420,2433,2435,2436,2441,2444,2445,2450,2454,2456,2461,2462
,2475,2485,2488,2493,2500,2505,2514,2516,2519,2524,2525,2527,2528,2531
,2537,2541]

In [23]:
tar2= [ 12,   15,   20,   21,   24,   25,   28,   32,   34,   50,   56,
        66,   68,   70,   76,   77,   82,   83,   84,   92,   96,   98,
        107,  114,  119,  129,  133,  140,  157,  167,  169,  171,  175,
        206,  252,  256,  258,  263,  268,  276,  278,  279,  280,  282,
        292,  308,  314,  317,  323,  327,  338,  346,  349,  354,  355,
        356,  359,  362,  363,  364,  367,  380,  385,  392,  402,  405,
        407,  410,  416,  419,  421,  422,  423,  426,  429,  431,  436,
        440,  442,  443,  447,  453,  455,  457,  460,  463,  464,  466,
        474,  482,  486,  487,  493,  499,  500,  508,  509,  511,  518,
        520,  521,  526,  527,  530,  532,  533,  543,  555,  556,  559,
        563,  564,  570,  575,  580,  581,  582,  588,  590,  591,  596,
        597,  601,  604,  606,  628,  630,  631,  632,  633,  639,  640,
        645,  646,  647,  653,  658,  660,  667,  671,  675,  678,  685,
        686,  687,  688,  697,  707,  712,  721,  725,  732,  742,  744,
        745,  747,  751,  752,  758,  764,  768,  769,  774,  777,  778,
        788,  791,  795,  799,  801,  803,  816,  820,  829,  831,  848,
        851,  858,  859,  861,  862,  874,  882,  888,  892,  905,  908,
        909,  910,  915,  923,  926,  929,  932,  933,  939,  952,  959,
        962,  963,  966,  969,  970,  980,  983,  984,  990,  993,  996,
        998,  999, 1000, 1003, 1008, 1014, 1021, 1025, 1027, 1038, 1040,
       1041, 1048, 1051, 1052, 1054, 1062, 1065, 1068, 1073, 1079, 1080,
       1081, 1087, 1094, 1095, 1097, 1100, 1109, 1115, 1119, 1120, 1123,
       1124, 1131, 1132, 1133, 1138, 1144, 1148, 1151, 1154, 1156, 1157,
       1159, 1173, 1187, 1188, 1193, 1195, 1210, 1212, 1218, 1231, 1240,
       1244, 1245, 1250, 1251, 1255, 1271, 1284, 1288, 1289, 1291, 1297,
       1300, 1302, 1304, 1313, 1315, 1316, 1317, 1324, 1336, 1339, 1343,
       1345, 1351, 1353, 1357, 1368, 1370, 1372, 1374, 1381, 1382, 1385,
       1389, 1393, 1398, 1401, 1420, 1427, 1431, 1435, 1445, 1446, 1450,
       1452, 1453, 1456, 1458, 1459, 1463, 1473, 1474, 1493, 1503, 1505,
       1508, 1511, 1513, 1518, 1525, 1529, 1530, 1535, 1537, 1546, 1548,
       1553, 1557, 1573, 1582, 1583, 1589, 1591, 1593, 1602, 1607, 1612,
       1616, 1627, 1633, 1637, 1642, 1644, 1651, 1652, 1655, 1672, 1673,
       1676, 1678, 1682, 1683, 1687, 1689, 1691, 1694, 1699, 1705, 1718,
       1720, 1723, 1734, 1739, 1746, 1752, 1762, 1766, 1782, 1786, 1787,
       1789, 1792, 1799, 1803, 1809, 1815, 1823, 1838, 1839, 1842, 1860,
       1870, 1872, 1874, 1882, 1887, 1897, 1901, 1907, 1908, 1916, 1921,
       1923, 1928, 1938, 1944, 1945, 1951, 1954, 1956, 1957, 1963, 1966,
       1968, 1974, 1981, 1989, 2000, 2004, 2011, 2020, 2025, 2033, 2034,
       2036, 2037, 2038, 2043, 2054, 2062, 2067, 2068, 2070, 2075, 2076,
       2085, 2094, 2098, 2101, 2105, 2108, 2109, 2121, 2123, 2135, 2140,
       2141, 2142, 2149, 2152, 2172, 2174, 2180, 2187, 2196, 2200, 2202,
       2208, 2219, 2228, 2231, 2235, 2242, 2253, 2259, 2280, 2282, 2283,
       2285, 2290, 2294, 2296, 2304, 2306, 2321, 2323, 2329, 2330, 2331,
       2338, 2339, 2349, 2350, 2354, 2357, 2360, 2362, 2365, 2366, 2370,
       2376, 2380, 2388, 2390, 2401, 2407, 2409, 2415, 2417, 2419, 2420,
       2425, 2430, 2435, 2437, 2438, 2439, 2440, 2441, 2445, 2448, 2449,
       2454, 2460, 2461, 2462, 2473, 2476, 2485, 2490, 2493, 2499, 2500,
       2517, 2519, 2520, 2522, 2526, 2527, 2536, 2538, 2541]

In [25]:
#265
COAD_test = [15, 20, 21, 25, 28, 34, 68, 76, 84, 96, 98, 107, 114, 129, 157, 171, 197, 258, 268, 280, 292, 308, 313, 317, 346, 349, 354, 356, 362, 364, 385, 403, 419, 421, 423, 426, 429, 436, 453, 457, 460, 464, 466, 487, 509, 526, 527, 530, 532, 543, 555, 567, 570, 575, 580, 581, 591, 596, 597, 601, 606, 624, 628, 630, 631, 633, 634, 640, 653, 658, 663, 667, 671, 675, 678, 685, 688, 697, 725, 734, 744, 747, 751, 764, 768, 774, 777, 778, 795, 799, 801, 816, 829, 859, 861, 862, 874, 882, 888, 892, 908, 933, 939, 959, 963, 966, 969, 980, 983, 984, 1000, 1027, 1040, 1041, 1051, 1052, 1054, 1062, 1068, 1079, 1080, 1087, 1094, 1097, 1109, 1119, 1124, 1132, 1133, 1148, 1151, 1156, 1173, 1178, 1187, 1195, 1210, 1212, 1224, 1245, 1274, 1288, 1289, 1291, 1316, 1317, 1324, 1339, 1343, 1345, 1351, 1357, 1368, 1389, 1393, 1409, 1427, 1431, 1446, 1450, 1451, 1458, 1463, 1493, 1498, 1505, 1525, 1529, 1530, 1537, 1546, 1548, 1553, 1582, 1589, 1591, 1593, 1607, 1619, 1637, 1652, 1672, 1689, 1691, 1699, 1705, 1720, 1739, 1746, 1782, 1787, 1792, 1803, 1823, 1842, 1852, 1870, 1887, 1897, 1907, 1916, 1923, 1928, 1938, 1944, 1956, 1966, 1996, 2011, 2020, 2025, 2026, 2034, 2036, 2054, 2067, 2070, 2075, 2076, 2094, 2105, 2108, 2123, 2172, 2180, 2195, 2209, 2228, 2231, 2259, 2283, 2285, 2290, 2304, 2321, 2323, 2329, 2330, 2331, 2339, 2349, 2354, 2360, 2361, 2366, 2376, 2380, 2388, 2415, 2416, 2417, 2420, 2435, 2441, 2445, 2454, 2461, 2462, 2485, 2493, 2500, 2514, 2519, 2527, 2541]
THYM_test = [17, 180, 187, 214, 219, 294, 374, 446, 450, 545, 676, 696, 787, 855, 979, 1055, 1249, 1542, 1770, 1785, 1832, 1866, 1965, 2046, 2059, 2118, 2132, 2153, 2340, 2412, 2481]
LUSC_test = [ 5,    7,   27,   31,   43,   63,   71,   86,   97,  108,  197,
        210,  221,  248,  286,  312,  313,  336,  347,  348,  403,  467,
        514,  569,  583,  587,  620,  624,  629,  648,  690,  756,  766,
        813,  848,  907,  928,  956,  962, 1010, 1024, 1050, 1064, 1108,
    1141, 1162, 1178, 1198, 1222, 1291, 1306, 1432, 1441, 1488, 1543,
    1556, 1559, 1576, 1619, 1624, 1636, 1643, 1660, 1669, 1771, 1786,
    1823, 1837, 1852, 1869, 1903, 1906, 1914, 1922, 1987, 2040, 2063,
    2078, 2138, 2189, 2195, 2202, 2229, 2289, 2329, 2357, 2361, 2416,
    2460, 2466, 2468, 2534, 2543]
THCA_test = [  90,  144,  145,  151,  172,  184,  249,  260,  266,  333,  379,
        409,  417,  490,  497,  529,  560,  565,  586,  643,  654,  702,
        733,  741,  780,  842,  879,  902,  935, 1191, 1197, 1263, 1340,
    1375, 1384, 1388, 1391, 1475, 1480, 1487, 1492, 1502, 1527, 1549,
    1566, 1692, 1708, 1722, 1728, 1748, 1758, 1856, 1932, 1939, 1955,
    1997, 2049, 2055, 2057, 2074, 2088, 2233, 2263, 2319, 2442, 2513]
BRCA_test = [  44,  112,  137,  149,  150,  174,  208,  211,  213,  220,  237,
        291,  299,  319,  411,  418,  454,  465,  469,  553,  577,  598,
        612,  616,  674,  705,  723,  765,  828,  852,  873,  887,  927,
        986, 1011, 1096, 1104, 1171, 1174, 1213, 1228, 1264, 1310, 1320,
    1330, 1361, 1403, 1418, 1436, 1442, 1448, 1512, 1533, 1597, 1599,
    1614, 1618, 1631, 1685, 1714, 1729, 1733, 1774, 1801, 1805, 1941,
    1946, 1972, 1975, 1985, 1993, 2009, 2042, 2080, 2116, 2126, 2163,
    2186, 2220, 2230, 2234, 2271, 2335, 2379, 2414, 2450, 2469, 2479]

In [6]:
tr_lines  =[ 141,  286,  353,  539,  679,  911, 1494, 1586, 1813, 1860, 2080,
    2469, 2911, 3264, 3662, 4391, 4570, 4796, 4851, 5145, 5169, 5173,
    5205, 5244, 5423, 6042, 6139]

In [24]:
tr_left_lines = [  19,   27,   57,  100,  107,  166,  248,  283,  287,  296,  297,
        298,  370,  392,  408,  430,  451,  461,  463,  485,  501,  505,
        514,  528,  646,  687,  730,  741,  761,  811,  889,  915,  928,
        944,  951,  976,  997, 1090, 1096, 1142, 1194, 1203, 1226, 1234,
       1238, 1261, 1267, 1275, 1304, 1340, 1352, 1358, 1397, 1413, 1428,
       1493, 1519, 1528, 1531, 1534, 1575, 1578, 1582, 1583, 1589, 1601,
       1630, 1675, 1680, 1699, 1712, 1719, 1826, 1835, 1869, 1894, 1898,
       1920, 1948, 1960, 1982, 2007, 2011, 2024, 2043, 2075, 2091, 2093,
       2129, 2162, 2179, 2191, 2196, 2210, 2213, 2219, 2227, 2234, 2249,
       2257, 2281, 2287, 2300, 2315, 2332, 2342, 2356, 2428, 2433, 2491,
       2561, 2570, 2596, 2605, 2619, 2644, 2680, 2688, 2715, 2724, 2753,
       2768, 2838, 2854, 2859, 2869, 2872, 2898, 2908, 2917, 2953, 2980,
       2986, 2989, 3033, 3038, 3052, 3087, 3122, 3133, 3151, 3174, 3215,
       3227, 3254, 3256, 3275, 3340, 3347, 3362, 3375, 3384, 3386, 3388,
       3398, 3399, 3403, 3437, 3443, 3450, 3452, 3461, 3462, 3463, 3474,
       3485, 3500, 3549, 3608, 3615, 3635, 3658, 3673, 3694, 3695, 3705,
       3709, 3726, 3749, 3772, 3813, 3852, 3859, 3914, 3936, 3937, 3949,
       3961, 3969, 4015, 4037, 4053, 4101, 4105, 4125, 4181, 4198, 4200,
       4204, 4233, 4243, 4245, 4266, 4269, 4270, 4286, 4291, 4292, 4331,
       4333, 4346, 4416, 4433, 4489, 4538, 4541, 4551, 4567, 4582, 4677,
       4700, 4718, 4728, 4730, 4746, 4762, 4769, 4770, 4808, 4810, 4831,
       4836, 4838, 4882, 4893, 4899, 4910, 4923, 4938, 4969, 4996, 5015,
       5033, 5077, 5097, 5108, 5113, 5121, 5124, 5125, 5133, 5153, 5209,
       5215, 5279, 5287, 5298, 5308, 5334, 5347, 5358, 5364, 5394, 5405,
       5417, 5419, 5420, 5428, 5491, 5507, 5508, 5533, 5567, 5579, 5621,
       5630, 5633, 5639, 5726, 5732, 5734, 5743, 5774, 5791, 5815, 5819,
       5823, 5831, 5849, 5879, 5896, 5973, 5999, 6000, 6062, 6070, 6084,
       6092, 6113, 6135, 6149, 6159, 6180, 6183, 6194]

In [27]:
tr_top_lines=[   6,   16,   26,   56,   70,   86,  109,  112,  134,  137,  148,
        164,  189,  255,  290,  300,  342,  345,  346,  359,  372,  377,
        380,  403,  410,  460,  496,  521,  534,  543,  552,  572,  617,
        640,  690,  693,  696,  747,  769,  772,  778,  791,  809,  828,
        871,  897,  918,  930,  940,  969,  988,  999, 1032, 1038, 1099,
       1119, 1172, 1175, 1179, 1222, 1229, 1236, 1256, 1257, 1281, 1287,
       1291, 1295, 1322, 1331, 1361, 1449, 1450, 1452, 1456, 1512, 1526,
       1538, 1574, 1613, 1662, 1685, 1687, 1728, 1733, 1735, 1751, 1765,
       1767, 1771, 1811, 1817, 1821, 1871, 1904, 1917, 1918, 1979, 1980,
       2030, 2045, 2058, 2079, 2100, 2103, 2105, 2126, 2140, 2144, 2212,
       2214, 2229, 2250, 2258, 2260, 2338, 2370, 2375, 2448, 2463, 2465,
       2466, 2483, 2513, 2534, 2539, 2541, 2563, 2566, 2598, 2626, 2641,
       2648, 2673, 2686, 2711, 2718, 2719, 2726, 2743, 2747, 2755, 2775,
       2803, 2856, 2894, 2900, 2913, 2921, 2950, 2955, 2965, 2977, 2992,
       2997, 3028, 3041, 3073, 3084, 3098, 3107, 3112, 3115, 3138, 3140,
       3141, 3168, 3199, 3208, 3239, 3240, 3260, 3268, 3293, 3314, 3328,
       3332, 3334, 3346, 3364, 3455, 3456, 3459, 3477, 3499, 3533, 3551,
       3566, 3569, 3631, 3655, 3665, 3674, 3781, 3791, 3817, 3827, 3840,
       3853, 3854, 3862, 3885, 3923, 3952, 3972, 3973, 3995, 4014, 4024,
       4028, 4039, 4051, 4057, 4061, 4113, 4131, 4138, 4141, 4150, 4176,
       4192, 4209, 4225, 4239, 4264, 4276, 4277, 4294, 4295, 4301, 4344,
       4381, 4384, 4392, 4394, 4399, 4440, 4461, 4501, 4504, 4506, 4555,
       4556, 4561, 4583, 4596, 4612, 4633, 4637, 4653, 4701, 4721, 4731,
       4752, 4754, 4777, 4791, 4817, 4842, 4850, 4856, 4888, 4905, 4928,
       4937, 4944, 4954, 4993, 5024, 5038, 5055, 5070, 5083, 5085, 5106,
       5157, 5201, 5237, 5269, 5272, 5300, 5305, 5328, 5357, 5361, 5368,
       5375, 5392, 5398, 5399, 5424, 5435, 5455, 5471, 5489, 5490, 5494,
       5498, 5500, 5538, 5544, 5551, 5560, 5583, 5593, 5594, 5632, 5635,
       5664, 5666, 5670, 5675, 5678, 5695, 5715, 5728, 5736, 5754, 5777,
       5790, 5807, 5809, 5810, 5833, 5844, 5866, 5883, 5890, 5895, 5925,
       5937, 5959, 5975, 5980, 6019, 6033, 6048, 6065, 6085, 6094, 6097,
       6193]

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv('../input/train.csv')
data.drop('ID',axis=1, inplace=True)
data
df_test = pd.read_csv('../input/test.csv')

In [8]:
data.iloc[tr_lines]

,SUBCLASS,A2M,AAAS,AADAT,AARS1,ABAT,ABCA1,ABCA2,ABCA3,ABCA4,...,ZNF292,ZNF365,ZNF639,ZNF707,ZNFX1,ZNRF4,ZPBP,ZW10,ZWINT,ZYX
141,LUSC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
286,STES,WT,L395P,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,E254D,WT,WT,WT
353,KIPAN,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
539,STES,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
679,STES,WT,WT,W86L,WT,WT,G592fs,WT,WT,R24H,...,Q415E,WT,WT,WT,E746E,WT,WT,WT,WT,WT
911,COAD,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1494,SKCM,WT,WT,WT,WT,WT,WT,S1705F,WT,Y633N,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1586,COAD,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1813,BRCA,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
1860,BRCA,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2080,SKCM,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,R517Q
2469,BRCA,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
2911,LUSC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3264,STES,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
3662,OV,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4391,UCEC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4570,PAAD,WT,WT,WT,WT,WT,WT,WT,WT,F497F,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4796,SKCM,WT,WT,WT,WT,WT,WT,WT,WT,M450I,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
4851,LUSC,WT,WT,WT,WT,WT,WT,WT,WT,R2263P,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
5145,SKCM,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
5169,PAAD,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
5173,UCEC,E737E,WT,WT,WT,WT,WT,WT,WT,WT,...,R533W,WT,WT,WT,WT,WT,WT,WT,WT,WT
5205,COAD,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
5244,UCEC,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
5423,STES,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,T2691T,WT,WT,WT,WT,WT,WT,WT,WT,WT
6042,STES,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT
6139,OV,WT,WT,WT,WT,WT,WT,WT,WT,WT,...,WT,WT,WT,WT,WT,WT,WT,WT,WT,WT

In [28]:
data.iloc[tr_top_lines]['SUBCLASS'].value_counts()

SUBCLASS
BRCA      158
UCEC       39
KIPAN      18
GBMLGG     16
CESC       16
COAD       15
KIRC       12
HNSC       12
LGG        11
STES       10
BLCA        8
LIHC        5
LUAD        4
DLBC        3
PRAD        3
SKCM        3
LUSC        2
OV          2
SARC        2
ACC         1
PCPG        1
TGCT        1
Name: count, dtype: int64

In [26]:
data.iloc[tr_left_lines]['SUBCLASS'].value_counts()

SUBCLASS
THCA      176
SKCM       30
BRCA       17
PRAD       12
CESC        9
GBMLGG      9
KIPAN       8
PCPG        6
LUAD        4
LIHC        4
KIRC        4
TGCT        3
STES        3
HNSC        3
SARC        3
COAD        3
LGG         2
BLCA        2
PAAD        1
UCEC        1
OV          1
THYM        1
DLBC        1
LAML        1
ACC         1
Name: count, dtype: int64

In [10]:
tr_line2 = [ 679, 5145, 5173, 5205]
data.iloc[tr_line2]['SUBCLASS'].value_counts()

SUBCLASS
STES    1
SKCM    1
UCEC    1
COAD    1
Name: count, dtype: int64

In [21]:
tr_lines3=  [ 71,  601, 1502, 1758, 1761, 2795, 3090, 3679, 3967, 4385, 4966,
       5049, 5566, 5682]

In [22]:
data.iloc[tr_lines3]['SUBCLASS'].value_counts()

SUBCLASS
UCEC    3
STES    3
COAD    3
CESC    2
SKCM    1
BLCA    1
LUAD    1
Name: count, dtype: int64

In [241]:
for t in tar : 
    #print(t, df_test.iloc[t].apply(lambda x : 1 if x!='WT' else 0).agg(sum))
    res_nw['SUBCLASS'][t]='COAD'
#res_nw.to_csv('res-forced-BRCA-02.csv',index=False)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/2811672398.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  res_nw['SUBCLASS'][t]='COAD'

In [242]:
res_nw.SUBCLASS.value_counts()

SUBCLASS
COAD      736
BRCA      539
KIPAN     193
STES      159
GBMLGG    122
OV        104
THCA       69
KIRC       66
LGG        63
HNSC       57
UCEC       55
SKCM       52
CESC       41
PRAD       40
PCPG       35
TGCT       34
LAML       32
SARC       29
LIHC       29
LUAD       24
PAAD       22
BLCA       21
ACC        12
LUSC        7
THYM        5
Name: count, dtype: int64

In [186]:
cgs = pd.read_csv('../input/cancer-genes.csv')

In [187]:
# 'WT'가 아닌 값이 있는 컬럼명을 각 행에 대해 추출하는 함수
def get_non_wt_columns(row):
    return list(row.index[row != 'WT'])

# 각 행에서 'WT'가 아닌 열의 컬럼명을 리스트로 저장
#test non_wt_columns = df_test.iloc[:, 1:].apply(get_non_wt_columns, axis=1)
non_wt_columns = pd.DataFrame()
non_wt_columns['SUBCLASS'] = data['SUBCLASS']
non_wt_columns['gset'] = data.iloc[:,2:].apply(get_non_wt_columns, axis=1).reset_index(name='gset').drop('index',axis=1)

#non_wt_columns.sort_values(by=['SUBCLASS'], inplace=True)

In [188]:
non_wt_columns

     SUBCLASS                                               gset
0       KIPAN  [ABCC2, ADCY2, CD86, EPHB4, FOXC2, GBF1, GLMN,...
1        SARC  [ABCC8, ATRX, DTX1, FN3K, GPR182, HELZ2, INCEN...
2        SKCM  [ABCB11, ABCC8, ABL1, ACTC1, ACTN2, ADAM15, AD...
3        KIRC      [EGFR, EIF4G2, F5, LAMB3, SLC4A4, TPH1, ZEB1]
4      GBMLGG  [AHNAK, ALOX15B, C8B, CACNA1H, CAD, CALCR, CAS...
...       ...                                                ...
6196     LUAD  [ABCB8, ACSL4, ACTC1, ALMS1, APBB2, AVPR1A, B3...
6197      LGG  [ADD2, AVPR1A, FLT4, HTR5A, IKZF1, KCNJ2, LAS1...
6198     COAD  [ADAM2, ADD2, APC, ATP2B4, COL5A3, COL9A1, DMD...
6199     TGCT  [ARHGAP4, HIBCH, IGSF1, ITGAL, TRIO, WASF2, YW...
6200     SKCM  [ABCA9, ABL1, ADAMDEC1, ATXN1, BCAN, BRAF, CAC...

[6201 rows x 2 columns]

In [189]:
cset =  set(cgs['c.genes'].values)

In [190]:
non_wt_columns['inters'] = non_wt_columns['gset'].apply(lambda x: len(set(x).intersection(cset)))

In [191]:
non_wt_columns

     SUBCLASS                                               gset  inters
0       KIPAN  [ABCC2, ADCY2, CD86, EPHB4, FOXC2, GBF1, GLMN,...       4
1        SARC  [ABCC8, ATRX, DTX1, FN3K, GPR182, HELZ2, INCEN...       7
2        SKCM  [ABCB11, ABCC8, ABL1, ACTC1, ACTN2, ADAM15, AD...      13
3        KIRC      [EGFR, EIF4G2, F5, LAMB3, SLC4A4, TPH1, ZEB1]       1
4      GBMLGG  [AHNAK, ALOX15B, C8B, CACNA1H, CAD, CALCR, CAS...       6
...       ...                                                ...     ...
6196     LUAD  [ABCB8, ACSL4, ACTC1, ALMS1, APBB2, AVPR1A, B3...       6
6197      LGG  [ADD2, AVPR1A, FLT4, HTR5A, IKZF1, KCNJ2, LAS1...       5
6198     COAD  [ADAM2, ADD2, APC, ATP2B4, COL5A3, COL9A1, DMD...       5
6199     TGCT  [ARHGAP4, HIBCH, IGSF1, ITGAL, TRIO, WASF2, YW...       0
6200     SKCM  [ABCA9, ABL1, ADAMDEC1, ATXN1, BCAN, BRAF, CAC...       8

[6201 rows x 3 columns]

In [192]:
non_wt_columns[non_wt_columns.inters==0].SUBCLASS.value_counts()

SUBCLASS
BRCA      117
PRAD       92
THCA       85
KIPAN      83
KIRC       65
THYM       61
PCPG       57
LAML       56
SARC       48
GBMLGG     45
LGG        34
TGCT       16
CESC       14
OV         12
STES       12
LIHC        8
ACC         7
PAAD        7
SKCM        5
LUAD        4
HNSC        4
UCEC        3
LUSC        2
DLBC        2
BLCA        1
Name: count, dtype: int64

In [193]:
non_wt_columns[non_wt_columns.inters==0]

     SUBCLASS                                               gset  inters
17      KIPAN                                              [VHL]       0
18       BRCA                                           [B3GNT3]       0
20     GBMLGG                                            [SYNE1]       0
43     GBMLGG             [COL15A1, IDH1, ITIH3, SLC23A1, SYNJ1]       0
48       STES  [ACHE, AFAP1L2, AOC3, CACNA1H, CASP2, CMTR1, E...       0
...       ...                                                ...     ...
6171   GBMLGG                       [IDH1, PDE6B, SEC14L1, ZW10]       0
6173     PRAD            [ADAMDEC1, MYH1, POLA1, TMPRSS6, TRIM5]       0
6186    KIPAN  [ACSL4, AGFG1, APPBP2, ATF6, CADM2, DEPTOR, EI...       0
6189     TGCT                                [IGSF3, MMP1, TLR1]       0
6199     TGCT  [ARHGAP4, HIBCH, IGSF1, ITGAL, TRIO, WASF2, YW...       0

[840 rows x 3 columns]

In [214]:
for d in data.SUBCLASS.unique():
    print(d, non_wt_columns[non_wt_columns['SUBCLASS']== d]['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum))

KIPAN 15
SARC 9
SKCM 51
KIRC 5
GBMLGG 11
STES 45
BRCA 24
THCA 3
LIHC 8
HNSC 24
PAAD 5
OV 10
PRAD 7
UCEC 21
LAML 0
COAD 18
ACC 0
LGG 2
LUSC 30
LUAD 28
CESC 9
PCPG 4
THYM 0
BLCA 16
TGCT 2
DLBC 2

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/488224173.py:2: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(d, non_wt_columns[non_wt_columns['SUBCLASS']== d]['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum))

In [ ]:
total_gset = dict()
for d in data.SUBCLASS.unique():
    total_gset[d] = set()
    print(non_wt_columns[non_wt_columns['SUBCLASS']== d]['gset'].apply(lambda x : total_gset[d].update(set(x))))

In [249]:
cg_interset_dic = dict()

In [250]:
for d in data.SUBCLASS.unique():
    #print(d,len(total_gset[d]))
    inters = set(total_gset[d]).intersection( set(cgs['c.genes'].values))
    print(d, len(inters), len(total_gset[d]), len(inters)/len(total_gset[d]))
    cg_interset_dic[d] = inters

KIPAN 306 3007 0.101762554040572
SARC 170 1546 0.10996119016817593
SKCM 351 3933 0.08924485125858124
KIRC 246 2214 0.1111111111111111
GBMLGG 252 2300 0.10956521739130434
STES 353 4024 0.08772365805168986
BRCA 327 3486 0.09380378657487091
THCA 115 907 0.12679162072767364
LIHC 250 2393 0.10447137484329294
HNSC 297 3059 0.09709055246812684
PAAD 273 2740 0.09963503649635036
OV 222 1957 0.11343893714869699
PRAD 164 1393 0.11773151471643933
UCEC 351 4002 0.08770614692653673
LAML 60 316 0.189873417721519
COAD 335 3660 0.09153005464480875
ACC 179 1580 0.11329113924050632
LGG 148 1111 0.1332133213321332
LUSC 322 3329 0.09672574346650646
LUAD 322 3122 0.1031390134529148
CESC 341 2904 0.11742424242424243
PCPG 69 523 0.13193116634799235
THYM 66 388 0.17010309278350516
BLCA 300 2930 0.10238907849829351
TGCT 167 1365 0.12234432234432234
DLBC 202 1656 0.12198067632850242

In [255]:

for d in data.SUBCLASS.unique():
    print(d,len(cg_interset_dic['DLBC'].intersection(cg_interset_dic[d])))

KIPAN 178
SARC 104
SKCM 200
KIRC 151
GBMLGG 159
STES 199
BRCA 193
THCA 70
LIHC 142
HNSC 178
PAAD 171
OV 133
PRAD 102
UCEC 199
LAML 38
COAD 190
ACC 110
LGG 100
LUSC 190
LUAD 188
CESC 192
PCPG 48
THYM 46
BLCA 180
TGCT 110
DLBC 202

In [209]:
non_wt_columns[non_wt_columns['SUBCLASS']=='COAD']['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/3121562874.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  non_wt_columns[non_wt_columns['SUBCLASS']=='COAD']['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum)

18

In [202]:
non_wt_columns['gset'].apply(lambda x: 'HLA-A' in x if isinstance(x, list) else False).agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/1000975693.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  non_wt_columns['gset'].apply(lambda x: 'HLA-A' in x if isinstance(x, list) else False).agg(sum)

94

In [174]:
non_wt_columns_test = pd.DataFrame()
non_wt_columns_test['gset'] = df_test.iloc[:,2:].apply(get_non_wt_columns, axis=1).reset_index(name='gset').drop('index',axis=1)

In [205]:
non_wt_columns_test['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/844878331.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  non_wt_columns_test['gset'].apply(lambda x: 'AHNAK' in x if isinstance(x, list) else False).agg(sum)

774

In [204]:
non_wt_columns_test['gset'].apply(lambda x: 'HLA-A' in x if isinstance(x, list) else False).agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/1837752818.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  non_wt_columns_test['gset'].apply(lambda x: 'HLA-A' in x if isinstance(x, list) else False).agg(sum)

322

In [119]:
inters = set(data.columns).intersection( set(cgs['c.genes'].values))
len(inters)

368

In [123]:
df_test['TP53'].apply(lambda x : x!='WT').agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/278796587.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_test['TP53'].apply(lambda x : x!='WT').agg(sum)

1051

In [124]:
data['TP53'].apply(lambda x : x!='WT').agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/1942921877.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data['TP53'].apply(lambda x : x!='WT').agg(sum)

1770

In [125]:
df_test['APC'].apply(lambda x : x!='WT').agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/3030949284.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df_test['APC'].apply(lambda x : x!='WT').agg(sum)

706

In [126]:
data['APC'].apply(lambda x : x!='WT').agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/3199270877.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data['APC'].apply(lambda x : x!='WT').agg(sum)

367

In [128]:
data['AHNAK'].apply(lambda x : x!='WT').agg(sum)

/var/folders/91/x1jkjm3549s21y3h3k_k56q80000gn/T/ipykernel_44913/3891880499.py:1: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  data['AHNAK'].apply(lambda x : x!='WT').agg(sum)

349